/* main style for use across all pages
   other pages with additional styles are stacked on top of this one.
   all styles must be stacked on top of this 'main.css' css file.     */
/* General */
html       { background-image: url(/images/bg.png); padding-bottom: 0; margin-bottom: 0;}
body       { width: 80%; background-color: #E0E0E0; margin: 0 auto; padding: 10PX; font-size: 12PT; text-decoration-thickness: 1PX;}
body.doc   { font: 400 15PT 'Tahoma', Verdana, Times New Roman, sans-serif; }
p          { word-wrap: break-word; }
a          { font: 1em normal 'Arial Narrow', Verdana; color: blue; }
a:hover    { background-color: #FFFF99; }
a:active   { background-color: #FFFF99; color: red; }
img        { border: 1px solid black }
figcaption { margin-top: 0; padding-top: 0; font-style: italic; }
header     { background-color: darkred; width: auto; margin: -10PX; }
footer     { background-color: #454545; color: white; width: auto; margin: 10PX 0; }
.left      { float: left; overflow: overlay;}
.clear     { clear: both; }
p.subtitle { margin: 0.1em; padding: 0.1em;  margin-top: -10px; padding-top: 0; font-size: 1.25em; color: #F2F2F2;}
table td   { padding: 5px 10px; text-align: top; font-size: 16PX; }
table th   { padding: 5px 10px; }
video      { width: 80%; height: auto; margin: 20PX 25PX; }
iframe     { border: 0; width: fit-content; padding: 0; overflow: hidden;}
.v-heading { font: 500 1.4EM 'Times New Roman', serif; text-decoration: underline; margin: 0.1em auto; padding: 0.1EM auto; margin-bottom: -10PX; }
h0.err     { font-family: 'Verdana', serif; margin-top: 30PX; }
.tt        { position: relative; } /* Tool-tip*/
.tt:hover::after { position: absolute; top: 1.2EM; left: 1EM; min-width: 150PX; border: 1px solid #000; background-color: #AAECFF; z-index: 1; padding: 8PX; }
ul         { padding-left: 30PX; margin-top: 0.5EM; } ol { padding-left: 30PX; margin-top: 0.5EM; }
li         { margin-left: 30PX; }
ul ul      { margin-top: 0.05EM; } ol ul { margin: 0.2EM; }
strong     { font-size: 1.2rEM; }
b>u, u>b   { text-decoration-thickness: 2PX; }
.thumb video { width: 360PX; height: auto; margin: 15 20PX;}
dl         { border: 1px solid #000; width: content; height: content; }
dt         { font: 600 1.2EM 'Times New Roman'; margin-bottom: 0.8EM; }
q          { margin: 0.7EM; border: 1px solid black; font-size: 18PT; }
/* Heading styles */
h1, h2, h3, h4, h5, h6 { padding: 0PX 3EM 0.1EM 0.3EM; margin: 12PX 5PX; display: table; }
h0         { font-size: 2.65em; font-family: 'Times New Roman'; line-height: 1.25em; padding: 0; margin: 0 } /* custom title heading tag */
h-half, h1, h2, h3, h4, h5, h6 { font-family: Verdana, Tahoma, sans-serif; }
h-half     { font-size: 2.3rEM; margin: 0.3EM 0; margin-bottom: 0.3EM; font-weight: bold; }
h1         { font-size: 2.0rEM; margin: 0.25EM 0; background-color: lightblue; border-bottom: 3PX solid teal; }
h2         { font-size: 1.7rEM; margin: 0.17EM 0; background-color: lightgreen; border-bottom: 3PX solid green; }
h3         { font-size: 1.4rEM; margin: 0.12EM 0; background-color: palegoldenrod; border-bottom: 3PX solid goldenrod; }
h4         { font-size: 1.2rEM; margin: 0.1EM 0; font-weight: 400; font-style: italic; background-color: lightsalmon; border-bottom: 3PX solid orangered; }
h5         { font-size: 1.1rEM; margin: 0.1EM 0; text-decoration: underline;}
h6         { font-size: 1.08rEM; margin: 0.1EM 0; }
.u         { text-decoration: underline; text-decoration-thickness: 1PX;}
.b         { font-weight: 600; } .b>ul { font-weight: normal; } .b u { text-decoration-thickness: 1PX; }
.box h1, .box h2, .box h3, .box h4, .box h5, .box h6 { background-color: transparent; border: 0; }
/* Top navigation bar */
.topnav    { overflow: hidden; background-color: #333333; margin-bottom: 1.25REM; }
.topnav a  { float: left; color: #F2F2F2; text-align: center; padding: 9px 16px; text-decoration: none; font-size: 18PX;}
.topnav a:hover  { background-color: #194987; color: white; }
.topnav a:active { background-color: #04AA6D; color: white; }
.complete { background-color: #04AA6D; }
/* Left (side) navigation bar */
th.left-nav  { font-weight: 400; text-align: left; }
.left-nav    { height: 100%; width: 150PX; background-color: #CADEEE; top: 0; z-index: 2; margin-top: 10PX; padding: 0; position: relative; }
.left-nav ul { list-style: none; margin-top: 0; }
.left-nav li { margin-left: -30PX; width: 150PX; }
.left-nav a  { padding: 0.25EM; display: block; }
.left-nav a:hover { background-color: #FFFF99; }
.left-nav .title  { background-color: #AAAA99; color: white; height: 1.5EM; width: 150PX; font-style: italic; font-size: 24PX; text-align: center; text-shadow: -1px -1px 2px black; }
.left-nav .salt { background-image: url('/images/salt.png'); }
#home        { color: green; font-style: italic; } #home:hover { background-color: #FFFF99; } #home:active { color: red; }
/* Footer */
footer a   { float: left; }
footer div.impt { float: left; width: auto; height: auto; overflow: hidden; color: black; }
footer p   { margin: 0.5EM; }
footer a   { padding: 10PX; margin: 3PX 8PX; border: 3PX groove red; background-color: #FFFF99; font-size: 0.9EM; text-align: center; }
footer a:hover  { border: 3PX groove #000000; background-color: orange; }
footer a:active { border: 3PX groove #194987; background-color: #AAAAAA; }
/* Drop-down menu */
.dropbtn   { background-color: #333333; color: white; padding: 9PX 16PX;font: 18PX 'Times New Roman';border: none; }
.dropdown  { float: left; overflow: hidden; }
.dropdown-content { display: none; position: absolute; background-color: #F2F2F2; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; }
.dropdown-content a { color: black; padding: 9px 16px; text-decoration: none; display: block; z-index:2; }
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3E8E41;}
.dropdown .dropbtn { font-size: 18px;   border: none; outline: none; color: white; padding: 9px 16px; background-color: inherit; font-family: inherit; margin: 0; }
.dropdown:hover .dropbtn { background-color: #194987; }
.dropdown-content { display: none; position: absolute; background-color: #F2F2F2; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; }
.dropdown-content a { float: none; color: black; padding: 10px 16px; text-decoration: none; display: block; text-align: left; }
.dropdown-content a:hover { background-color: #DDDDDD; color: black; text-shadow: 0 -1px 0 grey; }
.dropdown:hover .dropdown-content { display: block; }
/* Title bar */
.title     { display: block; font-size: 30PT; padding: 10PX 0 3PX 0; border-bottom: 2px solid grey; width: 100%; }
#title     { height: 2.6em; }
#title h0  { vertical-align: middle; line-height: 1EM; margin-left: 5PX; font-size: 40PT; color: #F2F2F2; }
.subject   { height: 100%; width: 100%; background: linear-gradient(90deg, rgba(255,190,0,1) 0%, rgba(226,226,226,1) 100) }
.subject   { font: 500 30PT 'Verdana'; line-height: 100%; vertical-align: middle; color: white; }

/* Section */
section h1 { margin: 0.15EM 0; padding: 0.15EM 0; }
section h2 { margin: 0.1EM 0; padding: 0.1EM 0; margin-top: 0.5em; font: 600 1.2EM'Verdana';}
section h2 a { color: cadetblue; text-decoration: none; }
section h2 a:hover { background-color: transparent; text-decoration: underline;}
/* Images and boxes */
.impt      { height: fit-content; width: 400PX; background-color: #E8E888; border: 1px solid #000; padding: 10PX; }
.box       { padding: 10PX; margin: 7PX; border: 1px solid #000; }
.left      { float: left; overflow: auto; } .right { float: right; overflow: auto; } .clear { clear: both; }
.box>.left { margin: 0 10PX; }
.bd-less   { border: 0; } .nopad { padding: 0; } .hidden { overflow: hidden; }
.toc       { display: inline-block; width: auto; height: auto; border: 1PX solid black; width: 33%; }
.toc h3    { display: inline-block; width: 100%; background-color: burlywood; text-align: center; margin: 0; }
.toc-cont  { padding: 10PX; font-size: 16PX /* 12PT */; } /*table of contents' content*/
/* @ selectors */
@media screen and (max-width: 500PX) {
   body {width: 100%; font-size: large;}
   h0#title {font-size: 25PT;}
   .topnav a {font-size: 1.2EM;}
   p {font-size: large;}
   header img {width: 75PX;}
}