/* main style for use across all pages
   other pages with additional styles are stacked on top of this one
   no unique style is allowed for a page (government moment), all
   styles must be stacked on top of this 'main.css' css file      */

body       { width: 80%; background-color: #E0E0E0; margin: 0 auto; }
h0         { font-size: 2.65em; line-height: 2em; padding: 0; margin: 0 } /* custom title heading tag */
a          { font: 1em normal 'Arial Narrow', Verdana; color: blue; }
a:hover    { background-color: #FFFF99; }
a:active   { background-color: #FFFF99; color: red; }
img        { border: 1px solid black }
figcaption { margin-top: 0; padding-top: 0; font-style: italic; }
