/* VLOG.CSS */
/* Unique style sheet for vlogs pages */
.sub-vlog {
    margin: auto; padding: auto;
    font: 700 28PT 'Times', sans-serif;
    color: #F2F2F2; font-style: italic;
    background: linear-gradient(90deg, #8B0000 0%, #B45F5F 70%, rgba(207,207,207,1) 100%); 
    width: 100%;
}
.left-nav {margin-top: -3PX;}
.frame {margin: 0 -10PX; margin-top: 5PX;}
iframe.left-nav {border: 0; width: 150PX; height: 600PX;}
table th {padding: 0; margin: 0;}
body {background-color: #E0E0E0;}
video {width: 90%; margin: 15px auto;}
.video-frame {padding-left: 20px;}
#gary {border: 1px solid #000; width: 300PX;}
@media screen and (max-width: 500PX) {
    #gary {width: 100%;}
}